@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap");

html * {
  font-family: "Noto Sans", sans-serif;
}

html,
body,
form {
  height: 100%;
  min-height: 100%;
  padding: 0;
  margin: 0;
}

form {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
/* header {
  height: 30vh;
  background-color: transparent;
} */

main {
  flex-grow: 1;
}

.social-media-footer-icons *{

  transition: all 0.3s ease-in-out;
}

.social-media-footer-icons:hover {
  background-color: #8e815e;
}

.social-media-footer-icons:hover >i {
  color: white;
  
}



.legal-footer * {
  font-family: Inter;
  font-size: 0.875;
  font-style: normal;
  font-weight: 500;
  line-height: 1.75rem;
  letter-spacing: 0em;
  text-align: left;
  color: #125564;
}

.footer-section-title {
  font-family: Noto Serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5625rem;
  letter-spacing: 0em;
  text-align: left;
  overflow: hidden;
}

.ahref-div > section * {
color: white;
}

.footer-grid {
  position: absolute;
  top: -12.25rem;
  right: -16rem;
  width: 39.3125rem;
  height: 26.625rem;
  background-image: url("/portals/0/Images/various/grid.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}


ul > li > a:visited {
  color: white;
}

.footer-sparta-logo {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
}

footer {
  overflow-x: hidden;
  overflow-y: auto !important;
  position: relative;
}

footer .footer-grid{
  overflow-x: hidden;
  overflow-y: visible !important;
}

/* .footer-grid > img {
  max-width: 100%;
  max-width: 100%;
} */

footer * > ul > li > a {
  color: white;
  text-decoration: none;
  font-family: Inter;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.3rem;
  letter-spacing: 0em;
  text-align: left;
}


footer * > ul > li > a >section * {
  color: white;
  text-decoration: none;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.3rem;
  letter-spacing: 0em;
  text-align: left;
}

.what-to-do-hero {
  width: 100%;
  height: 100vh !important;
  background: linear-gradient(
      180deg,
      #125564cc 32.81%,
      rgba(18, 85, 100, 0) 100%
    ),
    url("/portals/0/Images/various/what-to-do.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.col-megamenu .menu-side-photo {
  height: 100%;
  width: 100%;
}

.col-megamenu .menu-separator {
  height: 100%;
  width: auto;
  position: relative;
  margin-right: 0px;
  margin-top: 0px;
}

.col-megamenu .menu-side-photo > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 0;
}

.col-megamenu .menu-separator > img {
  height: 100%;
  width: auto;
  z-index: 1;
  object-fit: contain;
}

.scrolled-down {
  transform: translateY(-100%);
  transition: all 0.3s ease-in-out;
}
.scrolled-up {
  transform: translateY(0);
  transition: all 0.3s ease-in-out;
}

.autohide:hover .nav-link {
  color: #f5f3f0 !important;
}

.autohide:hover {
  background: linear-gradient(180deg, #125564eb 0.1%, #125564ee 100%);
}

.nav-link {
  font-family: Noto Sans;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.375rem;
  letter-spacing: 0em;
  text-align: left;
  color: #f5f3f0 !important;
  /* border-bottom: 4px #125564 solid; */
}

.autohide {
  padding: 0;
  margin: 0;
  background: linear-gradient(
    180deg,
    #0000006a 0%,
    rgba(60, 60, 60, 0.167) 96.35%
  );
  /* z-index: 50; */
}

.autohide::after {
  transition: all 0.25s ease-in-out;
}

.weather-card {
  max-width: 20rem;
  max-height: 20rem;
}

.fotorama--fullscreen .fotorama__stage {
  background: #abbaab !important; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #effcfe,
    #d7ecf0
  ) !important; /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #effcfe,
    #d7ecf0
  ) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.fotorama--fullscreen .fotorama__nav {
  background: #d7ecf0 !important; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #d7ecf0,
    #a5babe
  ) !important; /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #d7ecf0,
    #a5babe
  ) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.fotorama__fullscreen-icon {
  background: url("../img/bg.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
  width: 100% !important;
  height: 100% !important;
  right: 0 !important;
  top: 0 !important;
  cursor: url("/portals/0/Images/various/seegallery5.png"), auto !important;
  z-index: 10 !important;
}

.fotorama--fullscreen .fotorama__fullscreen-icon {
  width: 32px !important;
  justify-content: center;
  display: flex;
  align-items: center;
  height: 32px !important;
  right: 8px !important;
  top: 8px !important;
  cursor: auto !important;
  background-color: #768a8e solid !important;
  z-index: 15 !important;
  border-radius: 16px;
  background: url("/portals/0/Images/various/fse-tr.png") no-repeat scroll
    center center #768a8e !important;
  background-position: center;
}

.fotorama--fullscreen .fotorama__fullscreen-icon:hover {
  cursor: auto !important;
  transform: scale(1.05);
  transition: all 0.2s;
}

.fotorama__arr {
  position: absolute;
  background: none !important;
  width: 20% !important;
  height: 100% !important;
  top: 0% !important;
  margin-top: 2px !important;
}

.fotorama__arr--prev {
  cursor: url("/portals/0/Images/various/left.png"), auto !important;
}

.fotorama__arr--next {
  cursor: url("/portals/0/Images/various/right.png"), auto !important;
}

.today-text {
  font-family: Inter;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.0625rem;
  letter-spacing: 0em;
  text-align: left;
}

#map {
  height: 37.5rem;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}

.places-main-img {
  max-height: 75vh;
  width: 100%;
  z-index: 3;
  padding: 0;
  margin: 0;
}

.places-main-paragraph {
  font-family: Noto Serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.675rem;
  letter-spacing: 0em;
  text-align: left;
}

.places-secondary-paragraph {
  position: relative;
  margin-right: 9.3333333rem;
  margin-top: 7.5rem;
  margin-bottom: 5rem;
  font-family: Noto Sans;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.0625rem;
  letter-spacing: 0em;
  text-align: left;
}

.blend-up {
  position: relative;
  margin-top: -5rem;
  z-index: 2;
}

.places-main-img > img {
  width: 100%;
  height: 100%;
  z-index: 3;
  object-fit: contain;
  border-radius: 0px;
  z-index: 0 !important;
}

.places-first-paragraph {
  margin-bottom: 4.1875rem;
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.425rem;
  letter-spacing: 0em;
  text-align: left;
}

.places-third-paragraph {
  margin-bottom: 4.1875rem;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.425rem;
  letter-spacing: 0em;
  text-align: left;
}

.menu-container {
  width: 100vw;
  background: linear-gradient(180deg, #125564ee 0.1%, #125564eb 100%),
    url("/portals/0/Images/heros/home-hero.png");
  min-height: 77vh;
  border: none;
  padding: 0;
  border-width: 0;
}

.menu-list-group > a > h6 {
  font-family: Noto Serif;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.0625rem;
  letter-spacing: 0em;
  text-align: left;
  text-decoration: underline;
}

.show {
  display: block !important;
}

.filterDiv {
  display: none;
}

.menu-list-group .list-group-item {
  font-family: Noto Sans;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.875rem;
  letter-spacing: 0em;
  text-align: left;
  background: transparent;
  color: white !important;
  border: 0 !important;
  text-align: start;
}

.menu-list-group .list-group-item > a {
  font-family: Noto Sans;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.875rem;
  letter-spacing: 0em;
  text-align: left;
  background: transparent;
  color: white !important;
  border: 0 !important;
  text-align: start;
}

.tagBtn {
  height: 100%;
  width: 100%;
}

.experiences-tag-container {
  height: 100%;
  width: 100%;
  max-width: 12rem;
  min-height: 10.875rem;
  position: relative;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  /* background-color: #ede9df; */
  background-image: url("/portals/0/Images/various/tag-container.png");
}

.tag-card {
  height: 13.5rem;
  width: 12rem;
  display: flex;
  justify-content: center;
}

/* .tag-card .card-img-top-container {
  height: 10.875rem;
  width: 12rem;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
   background-image: url("/portals/0/Images/various/tag-container.png");
} */

.tag-card .card-img-top {
  height: 10.875rem;
  width: 12rem;
  object-fit: contain;
}

.tag-text {
  font-family: "Noto Sans", sans-serif;
  font-size: 1.125rem;
  align-self: center;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5625rem;
  letter-spacing: 0em;
  text-align: left;
}

.experiences-tag-container > img {
  object-fit: contain;
  position: relative;
  max-height: 5rem;
  max-width: 5rem;
}

.experiences-tag-container > img {
  position: relative;
}

.menu-logo {
  height: 8rem;
  width: auto;
  position: relative;
  margin-left: 4rem;
  margin-top: 4rem;
}

.menu-logo > img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.menu-link {
  font-family: Noto Sans;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.375rem;
  letter-spacing: 0em;
  text-align: left;
}

.col-megamenu * {
  text-decoration: none !important;
}

.col-megamenu .nodes-container > a * {
  font-family: Noto Serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.0625rem;
  letter-spacing: 0em;
  text-align: left;
  text-decoration: underline;
}

.col-megamenu .nodes-container > a .title > i {
  display: none;
}

.col-megamenu .nodes-container > a .title:hover > i {
  display: inline-block;
}
/* 
.col-megamenu .nodes-container > a :hover > i {
  display: inline-flex;
  align-self: center;
} */

.col-megamenu .nodes-container > ul > li > a {
  font-family: Noto Sans;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.875rem;
  letter-spacing: 0em;
  text-align: left;
  background: transparent;
  color: white !important;
  border: 0 !important;
  text-align: start;
}

.col-megamenu .nodes-container > ul > li > a:hover {
  font-family: Noto Sans;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.875rem;
  letter-spacing: 0em;
  text-align: left;
  background: transparent;
  color: #8e815e !important;
  border: 0 !important;
  text-align: start;
}

.langs-menu {
  height: auto! important;
}

.langs-menu > li > a {
  color: white;
  font-size: 1.125rem;
  padding: 0.25rem 0rem 0.25rem 0rem;
}

.skyscanner * > a{
  color: #8e815e;
}

.menu-side {
  height: 100%;
  width: 100%;
}

.nav-item .dropdown .has-megamenu::marker {
  display: none !important;
}

li {
  list-style: none !important;
  background-image: none;
  background-repeat: none;
  background-position: 0;
}

.dropdown-menu {
  width: 100vw;
  background: linear-gradient(180deg, #125564ee 0.1%, #125564eb 100%),
    url("/portals/0/Images/heros/home-hero.png");
  height: 77vh;
  border: none;
  padding: 0;
  border-width: 0;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0px !important;
}

.col-megamenu {
  height: 100% !important;
}

/* 
.navbar {
  color;
} */

.navbar .nav-hero {
  z-index: 0;
}
.carousel-bg {
  z-index: -1;
  width: 100%;
  height: 100%;
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

.iframe-tabs > li > button {
  width: 100%;
  padding: 0;
}

.tab-rectangle {
  height: 0.875rem;
  width: 100%;
  background-color: transparent;
}

.menu-tab-rectangle {
  height: 0.175rem;
  width: 80%;
  justify-self: start;
  background-color: #8e815e;
}

.active .tab-rectangle {
  background-color: #125564;
}

.iframe-button {
  width: 100%;
  height: 100%;
}

.active .iframe-button {
  background-color: #e4e4e4;
}

.iframe-button {
  background-color: #f2f0ed;
}

.iframe-tab-inner {
  padding-left: 0.49125rem;
  height: 100%;
}

.iframe-tab-inner > p {
  color: #44a6bb;
  padding-top: 1.3125rem;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.175rem;
  letter-spacing: 0em;
}

.active .iframe-tab-inner > p {
  color: #125564;
}

.iframe-tab-inner > div > p {
  color: #44a6bb;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  padding-left: 0.49125rem;
  padding-bottom: 0;
  padding-top: 0.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.175rem;
  letter-spacing: 0em;
  text-align: left;
}

.active .iframe-tab-inner > div > p {
  color: #125564;
}

.iframe-tab-inner > div > i {
  color: #44a6bb;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  padding-bottom: 0;
  padding-top: 0.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.175rem;
  letter-spacing: 0em;
  text-align: left;
}

.iframe-tab-inner .i-dur {
  display: block;
}

.iframe-tab-inner .i-play {
  display: none;
}

.active .iframe-tab-inner .i-dur {
  display: none;
}

.active .iframe-tab-inner .i-play {
  display: block;
}

.text-iframe {
  font-family: "Roboto Slab", serif;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 900;
  line-height: 3rem;
  letter-spacing: 0em;
  text-align: left;
}

.play-btn-container {
  height: 100%;
  width: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.play-btn {
  width: 11rem;
  height: 9.75rem;
  background-image: url("/portals/0/Images/various/play_button.png");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.play-btn:hover * {
  cursor: pointer;
  transition: all 0.5s ease;
}

.play-btn-container:hover .pulseZoomOut {
  animation-name: pulse-zoomout;
  animation-duration: 1.75s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
}
@keyframes pulse-zoomout {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

#iframecolor {
  background-color: #f5f3f0;
}

.active .iframe-tab-inner > div > i {
  color: #125564;
}

.iframe-tabs {
  width: 100%;
  height: 100%;
}

.iframe-tabs > li {
  width: 25%;
}

.text-container {
  width: 89%;
}

.text-container-narrow {
  width: 67%;
  height: 100% !important;
}

.homepage-section-title {
  font-family: Noto Serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2rem;
  letter-spacing: 0em;
  text-align: left;
  padding-bottom: 2.25rem;
}

.homepage-section-subtitle {
  font-family: Noto Sans;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4375rem;
  letter-spacing: 0em;
  text-align: left;
}

/* 
font-family: 'Noto Sans', sans-serif;
font-family: 'Noto Serif', serif;
 */
.main-title {
  font-family: Noto Serif;
  font-size: 4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.75rem;
  letter-spacing: -0.015em;
  text-align: left;
  margin-bottom: 3.75rem;
  word-break: break-word;
}

.main-subtitle {
  font-family: Noto Serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6875rem;
  letter-spacing: 0em;
  word-break: break-word;
  text-align: center;
  margin-bottom: 3.375rem;
}
.home-hero {
  width: 100%;
  /* height: 80vh !important; */
  height: 100vh !important;
  background: url("/portals/0/Images/heros/real-spartans.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.vector-grid-container {
  position: relative;
  margin-top: -14%;
  margin-left: 0;
}

.vector-grid-container > img {
  max-width: 100%;
  max-height: 100%;
}

.down-arrow-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.mystras-hero {
  width: 100%;
  /* height: 80vh !important; */
  height: 100vh !important;
  background: linear-gradient(
      180deg,
      #125564cc 32.81%,
      rgba(18, 85, 100, 0) 100%
    ),
    url("/portals/0/Images/heros/home-hero.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.home-hero-1 {
  width: 100%;
  height: 100vh !important;
  background: url("/portals/0/Images/heros/real-paths.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}
.home-hero-2 {
  width: 100%;
  height: 100vh !important;
  background: url("/portals/0/Images/heros/real-culture.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}
.home-hero-3 {
  width: 100%;
  height: 100vh !important;
  background: url("/portals/0/Images/heros/real-food.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}
.home-hero-4 {
  width: 100%;
  height: 100vh !important;
  background: url("/portals/0/Images/heros/5.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}
.discover-card {
  width: 32.0625rem;
  height: 27.875rem;
  border-width: 0;
  border-radius: 0rem !important;
  overflow: hidden;
  transition: all 0.3s ease-in;
}

.discover-card:hover {
  box-shadow: none !important;
}

.discover-card > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0px;
  z-index: 0 !important;
}

.discover-card .card-img-overlay {
  height: 100%;
  border-radius: 0px !important   ;
  background-color: #00000011 !important;
}

.discover-card:hover .card-img-overlay {
  height: 100%;
  background-color: #00000000 !important;
}

.discover-card .card-title {
  font-family: Noto Serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.75rem;
  letter-spacing: 0em;
  text-align: left;
  position: absolute;
  bottom: 2rem;
  left: 2rem;
}

.discover-card:hover .card-title {
  visibility: hidden;
}

.discover-card .moreBtn {
  position: absolute;
  width: 6.0625rem;
  height: 5.375rem;
  justify-content: center;
  align-items: center;
  display: flex;
  bottom: 0px;
  right: 0px;
  visibility: hidden;
}

.discover-card .moreBtn:hover {
  background-color: #44bba6 !important  ;
}

.discover-card:hover .moreBtn {
  visibility: visible;
}

.scalex:hover {
  transform: scaleX(1.5);
}

.wtd-card .card-img-top {
  height: 24.75rem;
  object-fit: cover;
  border-radius: 0px;
  z-index: 0 !important;
  width: 100%;
  border-radius: 0px;
}

.wtd-card {
  height: 36.75rem;
  width: 24rem;
  border-radius: 0ch;
  overflow: visible;
}

.wtd-card .card-title {
  font-family: Noto Serif;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem;
  letter-spacing: 0em;
  text-align: left;
}

.ycm-card {
  max-width: 100%;
  height: 47.5rem;
  border-radius: 0;
}

.ycm-special-recommend {
  font-family: Noto Serif;
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.1875rem;
  letter-spacing: 0em;
  text-align: left;
  white-space: pre-wrap;
  word-break: break-word;
  margin-bottom: 4.1875rem;
}

.ycm-ycm-text {
  font-family: Noto Serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.0625 rem;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 4.1875rem;
}

.ycm-paragraph {
  font-family: Inter;
  margin-bottom: 4.1875rem;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.375rem;
  letter-spacing: 0em;
  text-align: left;
}

.ycm-card .card-img-top {
  border-radius: 0;
  max-width: 100%;
  max-height: 29.4375rem;
  object-fit: cover;
}

.discover-text {
  font-family: Noto Sans;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.0625rem;
  letter-spacing: 0em;
  text-align: left;
}

.ycm-card .card-body .card-title {
  font-family: Noto Serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.0625rem;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 1.5625rem;
}

.ycm-card .card-body .card-text {
  font-family: Inter;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.375rem;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 3.0625rem;
}

.ycmCarousel .carousel-item-next.carousel-item-left,
.carousel-item-prev.carousel-item-right {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.ycmCarousel .carousel-item-next,
.active.carousel-item-right {
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}

.ycmCarousel .carousel-item-prev,
.active.carousel-item-left {
  -webkit-transform: translate3d(0, +100%, 0);
  transform: translate3d(0, +100, 0);
}

.ahref-div {
  text-decoration: none !important;
  display: flex;
  width: auto;
  height: auto;
  /* justify-self: center;
  align-self: center; */
}

.text-justify {
  text-align: justify !important;
}

.box {
  /* width: 100%;
  height: 100%; */
  display: flex;
  flex-direction: row;
}

.box-row {
  display: table-row;
}
.box-cell {
  display: table-cell;
}

.bottom-separator {
  padding: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 17.0625rem;
  background-image: url("/portals/0/Images/separators/bottom-round-cream.png");
  position: relative;
  margin-bottom: -10px;
}

.carousel-buttons {
  position: absolute;
  width: 10rem;
  height: 10rem;
  bottom: 0px;
  right: 0px;
  transition: all 0.3s ease-in;
}

.carousel-buttons:hover {
  background-color: #44bba6 !important;
}

.btn-text {
  font-family: Noto Sans;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1rems;
  letter-spacing: 0em;
  text-align: left;
}

.fracNum {
  font-family: Noto Sans;
  font-size: 1.6875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5625rem;
  letter-spacing: 0em;
  text-align: left;
}

.fracDen {
  font-family: Noto Sans;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.0625rem;
  letter-spacing: 0em;
  text-align: right;
}

.scaleonxaxis {
  transition: all 0.3s ease-in;
  opacity: 0.66;
}

.scaleonyaxis {
  transition: all 0.3s ease-in;
}

.scaleonyaxis:hover {
  transition: all 0.3s ease-in;
  transform: scaleY(1.2);
}

.wtd-card:hover .slide-top {
  -webkit-animation: slide-top 0.1s linear both;
  animation: slide-top 0.1s linear both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-1.2rem);
    transform: translateY(-1.2rem);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-1.2rem);
    transform: translateY(-1.2rem);
  }
}

.scaleonxaxis:hover {
  transform: scaleX(1.5);
  opacity: 1;
}

.indexer-text {
  font-family: Noto Sans;
  font-size: 1.25re;
  font-style: normal;
  font-weight: 700;
  line-height: 1.19375rem;
  letter-spacing: 0em;
  text-align: left;
}

.iright-prolonged > i {
  visibility: visible;
}

.iright-prolonged > img {
  visibility: hidden;
}

.wtd-card:hover .iright-prolonged > img {
  visibility: visible;
}

.wtd-card:hover .iright-prolonged > i {
  visibility: hidden;
}

.navbar .megamenu {
  padding: 1rem;
}

/* ============ desktop view ============ */
@media all and (min-width: 992px) {
  .navbar .has-megamenu {
    position: static !important;
  }
  .navbar .megamenu {
    left: 0;
    right: 0;
    width: 100%;
    margin-top: 0;
  }
}
/* ============ desktop view .end// ============ */

/* ============ mobile view ============ */
@media (max-width: 991px) {
  .navbar.fixed-top .navbar-collapse,
  .navbar.sticky-top .navbar-collapse {
    overflow-y: auto;
    /* max-height: 120vh; */
    margin-top: 10px;
  }
}

/* ============ desktop view .end// ============ */

/* ============ mobile view ============ */
@media (max-width: 991px) {
  .navbar.fixed-top .navbar-collapse,
  .navbar.sticky-top .navbar-collapse {
    overflow-y: auto;
    /* max-height: 90vh; */
    margin-top: 10px;
  }
}
@media (min-width: 768px) {
  .md-full {
    height: 100%;
  }
}

@media (max-width: 767px) {
  .text-container {
    width: 100%;
  }

  .footer-grid {
   width: 0;
  height: 0;
}

  .footer-sparta-logo {
    position: relative;
    margin: 2rem auto 2rem auto;
  }
/* 
  .home-hero {
    height: auto;
    background-size: cover;
    background-attachment: fixed;
  } */

  /* .home-hero-1 {
    height: auto;
    background-size: contain;
    background-attachment: fixed;
  } */

  /* .home-hero-2 {
    height: auto;
    background-size: contain;
    background-attachment: fixed;
  }

  .home-hero-3 {
    height: auto;
    background-size: contain;
    background-attachment: fixed;
  }

  .home-hero-4 {
    height: auto;
    background-size: contain;
    background-attachment: fixed;
  } */

  .dropdown-menu {
    max-height: auto !important;
  }

  .megamenu {
    overflow-y: auto;
  }

  .col-megamenu .nodes-container > a .title > i {
    display: inline-block;
  }

  .md-full {
    width: 100%;
  }

  .carousel-inner .carousel-item > div {
    display: none;
  }

  .carousel-inner .carousel-item > div:first-child {
    display: block;
  }

  .autohide {
    padding: 0;
    margin: 0;
    background: linear-gradient(180deg, #125564 0%, #125564eb 96.35%);
    /* z-index: 50; */
  }

  .places-secondary-paragraph {
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
  }

  .blend-up {
    position: relative;
    margin-top: 0rem;
    z-index: 2;
  }

  .text-container-narrow {
    width: 100%;
  }

  .iframe-tabs > li {
    width: 100%;
    height: 100%;
  }

  .iframe-tabs > li > button > div {
    width: 100%;
    height: 100%;
  }

  .iframe-tabs > li > button {
    width: 100%;
    height: 100%;
  }

  .iframe-tabs {
    width: 100%;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  header {
    height: 70vh;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .col-megamenu {
    height: 100% !important;
  }

  .col-megamenu .menu-separator {
    height: 100%;
    width: auto;
    position: relative;
    margin-right: 0px;
    margin-top: 0px;
  }

  .col-megamenu .menu-side-photo {
    height: 100%;
    width: 100%;
  }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}
